* {
    box-sizing: border-box;
}

table {
    margin: 10px auto;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 0 15px #ccc;
    width: 85%;
}

td {
    width: 300px;
    font-size: 25px;
    padding: 15px;
    border: 1px solid black;
}

select {
    width: 80px;
    height: 40px;
    font-size: 20px;
}

.here {
    width: 1800px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
.here>*{
    margin: 5px 0;
}
.here>button{
    width: 100px;
    height: 50px;
    font-size: 30px;
}
marquee {
    color: red;
    margin:10px 0;
    margin-top: 100px;
    font-size: 30px;
}

#hidden {
    display: none;
}
#checkoutDiv{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(150, 150, 150, 0.6);
    text-align: center;
    font-size: 50px;
    z-index: 2;
    display: none;

}
.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80vw;
    height: 50vh;
    background-color: lightblue;
    border-radius: 1em;
    top:25vh;
    left:10%;
}
#closeBtn{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

#discount{
    color: red;
}

header{
    position: fixed;
    width:100%;
    height: 80px;
    top: 0;
    background-color: lightpink;
    text-align: center;
    z-index: 2;
}
#type{
    position: absolute;
    right: 50px;
    top: 20px;
}
.number{
    text-align: center;
}
.price::before{
    content: "$";
}
.sum::before{
    content:"$"
}